/* Style guide: 
Dark Grey : #323232
Accent Yellow : #fdab22 */

:root {
  --main-color: #fdab22;
  --dark-grey: #323232;
  --light-grey: #f7f7f7;
}

body {
  background-color: #f7f7f7;
  color: #323232;
}
header {
  padding-top: 50px;
  background-color: white;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #c8c8c8;
}
.container {
  padding: 25px;
}
h1 {
  color: var(--dark-grey);
  font-size: 68px;
  font-weight: 700;
  background-color: white;
  padding-left: 25px;
}
span.yellow {
  color: var(--main-color);
}
h2 {
  padding-left: 25px;
  padding-bottom: 0px;
  margin-bottom: 30px;
}
#form-wrapper {
  margin-top: 25px;
  margin-bottom: 25px;
}
.btn {
  margin-top: 25px;
}
#form-wrapper {
  text-align: center;
}
#form-wrapper p {
  font-size: 125px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
form label {
  font-weight: 800;
  color: var(--main-color);
}
.spotify-player {
  padding-top: 25px;
}

/* Slider styling */
.slider {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: transparent;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.slider:focus {
  outline: none;
}
.slider::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Slider styling for Webkit */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid var(--dark-grey);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--main-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 0 var(--dark-grey);
  background: #838383;
  border-radius: 0px;
  border: 0 solid var(--dark-grey);
}
.slider:focus::-webkit-slider-runnable-track {
  background: #9b8769;
  height: 2px;
  box-shadow: 0 var(--dark-grey);
  border-radius: 0;
  border: 0 solid var(--dark-grey);
}

/* Slider styling for Firefox */
.slider::-moz-range-thumb {
  border: 1px solid #9b8769;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--main-color);
  cursor: pointer;
}
.slider::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 0 0 0 var(--dark-grey);
  background: var(--dark-grey);
  border-radius: 0px;
  border: 0 solid var(--dark-grey);
}

/* Slider styling for IE */
.slider::-ms-thumb {
  margin-top: 1px;
  border: 2px solid var(--dark-grey);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--main-color);
  cursor: pointer;
}
.slider::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animation: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.slider::-ms-fill-lower {
  background: var(--dark-grey);
  border: 0 solid var(--dark-grey);
  border-radius: 0px;
  box-shadow: 0 0 0 var(--dark-grey);
}
.slider::-ms-fill-upper {
  background: var(--dark-grey);
  border: 0 solid var(--dark-grey);
  border-radius: 0px;
  box-shadow: 0 0 0 var(--dark-grey);
}
.slider:focus::-ms-fill-lower {
  background: var(--dark-grey);
}
.slider:focus::-ms-fill-upper {
  background: var(--dark-grey);
}

/* Ouput Section Styles */
#mood-outputs {
  background-color: var(--main-color);
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
}

#mood-outputs h2 {
  padding: 0px;
  margin: 0px;
}

#mood-outputs h2,
.media-recommendations .row h3,
#mood-outputs p {
  text-align: center;
}

#mood-outputs hr {
  border-top: white;
  border-width: 1px;
  border-style: solid;
  width: 5%;
}

/* Footer Styles */
footer {
  text-align: center;
}

#contributors {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}
#contributors p {
  margin: 0px;
}

#contributors li {
  display: inline;
  margin-right: 15px;
}

#contributors li a {
  color: var(--main-color);
}

/* Tablet Styles */
@media only screen and (max-width: 996px) {
  header {
    padding-top: 20px;
  }
  h1 {
    padding-left: 5px;
  }
  h2 {
    padding-left: 5px;
  }
  #form-wrapper p {
    font-size: 60px;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  header {
    padding-top: 20px;
  }
  h1 {
    padding-left: 5px;
  }
  h2 {
    padding-left: 5px;
  }
  #form-wrapper p {
    font-size: 60px;
  }
}
